asgiref
certifi
channels
charset-normalizer
colorama
crispy-bootstrap5
distlib
Django
django-browser-reload
django-ckeditor
django-countries
django-crispy-forms
django-js-asset
django-livereload-server
django-multiselectfield
django-phonenumber-field
filelock
idna
livereload
MouseInfo
mysql-connector-python
numpy
opencv-python
opencv-contrib-python==4.8.1.78
packaging
phonenumbers
pillow
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-decouple
python-utils
pytweening
requests
setuptools
six
sqlparse
tabulate
tornado
typing_extensions
tzdata
urllib3
virtualenv
