<!-- TOPBAR for small screens -->
<div class="topbar-small-screen small-screen-bar text-center text-dark">
  <a href="tel:+11250100110" class="text-decoration-none me-3 d-inline-block">
    <i class="fa fa-phone icon-color"><p class="icon-txt"><b>(+1 125-010-0110)</b></p></i> 
  </a>
  <a href="mailto:info@carweb.cm" class="text-decoration-none me-3 d-inline-block">
    <i class="fa fa-envelope icon-color"><p class="icon-txt"><b>info@carweb.cm</b></p></i> 
  </a>
  <a class="text-decoration-none d-inline-block">
    <i class="fa fa-clock-o icon-color"><p class="icon-txt"><b>[Mon - Sat: 8:00am - 6:30pm]</b></p></i> 
  </a>
</div>

